.bg-default-1{
    background-color: rgb(240, 241, 248);
}

.card-content{
    background-color: #F0F1F8;
    border-radius: 20px;
    padding: 0px;
}

.title-content{
    margin-bottom: 30px;
}

.btn-default{
    border: 0px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #E9EEF4;
    color: #3C404B;
    cursor: pointer;
}
 

.btn-default-dark{
    border: 0px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #444444;
    color: #E9EEF4;
    cursor: pointer;
}

.btn-default-dark:hover,
.btn-default-dark:active{
    background-color: #343434 !important;
    color: #fff !important;
}

.btn-default-modal {
    background-color: #e3e4ee;
    color: #313238;
    font-weight: 300;
}

.btn-default-modal:hover,
.btn-default-modal:active,
.btn-default-modal:focus{
    background-color: #dcdde8 !important;
    color: #1c1d21;
}



.btn-default:hover,
.btn-default:active{
    background-color: #f0f4f8 !important;
    color: #2f323b !important;
}

.btn-default .text-button{
    font-size: 14px;
    color: #3C404B;
}

.btn-default .icon{
    font-size: 24px;
    margin-right: 10px;
    color: #3C404B;
}

.btn-default-dropdown{
    border: 0px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #F5F6FC;
    color: #3C404B;
    cursor: pointer;
}


.btn-default-dropdown:hover,
.btn-default-dropdown:active,
.btn-default-dropdown.show{
    background-color: #f9fcff !important;
    color: #2f323b !important;
}

.text-title-content{
    font-size: 32px;
    font-weight: 300;
    color: #2A3542;
    padding: 0px;
    margin:0px;
}

.white-space-nowrap{
    white-space: nowrap;
}



.box-loader{
    background-color: rgba(255, 255, 255,0.3);
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loader{ 
    display: none;
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.modal .box-loader{
    display: none;
}

.modal .act-icon-edit,
.modal .act-icon-delete{
    color: #3C404B;
    cursor: pointer;
}

.modal .modal-content{
    border-radius: 20px;
    background-color: #F0F1F8;
    border:0px;
}

.modal .form-select,
.modal .form-control{
    font-size: 14px !important;
    padding : 12px 14px;
    border-radius: 10px;
    border:0px;
}

.modal .btn-close-modal,
.modal .btn-edit-modal{
    background-color: #E3E4EE;
    border: 0px;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 5px;
    color: #313131;
}


.modal .btn-close-modal:hover,
.modal .btn-close-modal:active,
.modal .btn-edit-modal:hover,
.modal .btn-edit-modal:active{
    background-color: #dedfe9;
    border: 0px;
    color: #3a3e42;
}
 
.btn-delete-modal{
    background-color: #f79da9;
    border: 0px;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 5px;
    color: #222121;
}
.modal .btn-delete-modal:hover,
.modal .btn-delete-modal:active{
    background-color: #ff96a4;
    border: 0px;
    color: #111010;
}

.modal .btn-submit-modal{
    background-color: #313131;
    border: 0px;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 5px;
    color: #E3E4EE;
}

.modal .btn-submit-modal:hover,
.modal .btn-submit-modal:active{
    background-color: #272727;
    border: 0px;
    color: #E3E4EE;
}

.modal .input-search-event-day{
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #f7f8fe;
    color: #2A3542;
    display: inline-block;
    transition: width .3s;
    outline: none;
    border: none;
    padding: 5px 10px 5px 34px !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3e%3cpath fill='%238C909A' d='M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 16px;
}

.modal .box-data-event{
    max-height: calc(100vh - 300px);
    overflow: auto;
}

.modal .calendar-date{
    white-space: nowrap;
}
.modal .item-event{
    opacity: 0.8;
    transition: all 0.3s;
    cursor: pointer;
}

.modal .item-event:hover{
    opacity: 1;
    cursor: pointer;
}
.modal .item-event .text-time{
    font-size: 12px;
    white-space: nowrap;
}

.bg-custom-1{
    background-color:#cceeff; 
}

.bg-custom-2{
    background-color:#ccd9ff; 
}

.bg-custom-3{
    background-color:#d9ccff; 
}

.bg-custom-4{
    background-color:#f2ccff; 
}

.bg-custom-5{
    background-color:#ffccf2; 
}
.bg-custom-6{
    background-color:#ffccd9; 
}

.bg-custom-7{
    background-color:#ffd9cc; 
}

.bg-custom-8{
    background-color:#fff2cc; 
}

.bg-custom-9{
    background-color:#f2ffcc; 
}

.bg-custom-10{
    background-color:#ccffcc; 
}

.bg-custom-11{
    background-color:#ccffef; 
}

.bg-custom-12{
    background-color:#cceeff; 
}

.bg-custom-12{
    background-color:#dbdfe9; 
}
 

.dropdown-list-employee{
    position: absolute;
    bottom: 0px; left: 0px;
    max-height: 250px;
    overflow: auto;
    width: 100%;
}
.dropdown-list-employee .dropdown-item:hover{
    cursor: pointer;
    background-color: #eeeff6;
}
.dropdown-list-employee .dropdown-item .employee-photo{
    width: 34px;
    height: 34px;
    object-fit: cover;
}

.box-selected-employee .employee-item{
    background-color: #f9faff;
    border-radius: 8px;
    margin-bottom: 15px;
}

.box-selected-employee .employee-item .employee-photo{
    width: 28px;
    height: 28px;
    object-fit: cover;
}
.box-selected-employee .employee-item .act-remove-employee{
    color: #444;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.box-selected-employee .employee-item .act-remove-employee:hover{
    color: #b53b3b;
}

.dropdown-color .dropdown-menu{
    width: 50px !important;
    min-width: 65px;
}

.dropdown-color .dropdown-item.active, 
.dropdown-color .dropdown-item:active {
    background-color:#ecf3f6;
}
.header-calendar{
    padding: 15px 15px;
}

.dropdown-month .btn-dropdown-month{
    border: 0px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #e9eef400;
    color: #3C404B;
    cursor: pointer;
}

.dropdown-month .dropdown-toggle::after {
    margin-left: 10px;
    opacity: 0.9;
}

.dropdown-month .dropdown-item:active,
.dropdown-month .dropdown-item:hover{
    background-color: #E9EEF4;
    color: #313642;
    cursor: pointer;
}


.calendar-month,
.calendar-year{
    font-size: 16px;
    color: #2A3542;
    font-weight: 400;
    margin-left: 10px;
}

.calendar-event-list,
.calendar-next-month,
.calendar-prev-month{
    font-size: 20px;
    color: #474c59;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 10px;
}

.calendar-next-month:hover,
.calendar-prev-month:hover,
.calendar-next-month:active,
.calendar-prev-month:active,
.calendar-event-list:hover,
.calendar-event-list:active,
.dropdown-month .btn-dropdown-month:hover,
.dropdown-month .btn-dropdown-month:active{
    color: #313642 !important;
    background-color: #E9EEF4 !important;
}


.table-calendar{
    border-collapse: collapse;
    width: 100%;
    height: calc(100vh - 276px);
    min-height: 400px;
}


.table-calendar thead th{
    font-size: 12px;
    font-weight: 400;
    color: #747d87;
    text-align: center;
    max-height: 30px;
    border:solid 1px #E4E7EE;
    border-bottom: 0px;
}

@media (max-width: 567px) {
    .table-calendar{
        height: calc(100vw - 30px);
    }
}



.table-calendar tbody td{
    position: relative;
    
    vertical-align: top;
    border:solid 1px #E4E7EE;
    transition: all 0.3s;
    padding: 5px 5px;
    width: calc(100% / 7);
    transition: all 0.3s;
}

.table-calendar tbody td:not(.empty-cell):hover{
    cursor: pointer;
    background-color: #F5F6FC;
}

.table-calendar tbody tr:first-child td{
    border-top: 0px;
}

.table-calendar tbody td .day{
    text-align: center;
    font-size: 12px;
    color: #46515f;
    font-weight: 600;
}

.table-calendar tbody td .box-event{
    position: absolute;
    padding: 2px 5px;
    top: 25px;
    left: 0px;
    width: 100%;
    height: calc(100% - 30px);
    overflow-x: auto;
    
}

/* Style the entire scrollbar */
.table-calendar tbody ::-webkit-scrollbar {
  width: 4px; /* Adjust width as needed */
  background-color: transparent; /* Initially transparent */
}

/* Style the scrollbar thumb (draggable part) */
.table-calendar tbody ::-webkit-scrollbar-thumb {
  background-color: #46505b2c; /* Default thumb color */
  border-radius: 4px;
}

/* Style the scrollbar track (background) */
.table-calendar tbody ::-webkit-scrollbar-track {
  background-color: transparent; /* Initially transparent */
}

/* Hide the scrollbar by default */
.table-calendar tbody ::-webkit-scrollbar-thumb,
.table-calendar tbody ::-webkit-scrollbar-track {
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.table-calendar tbody td .box-event:hover ::-webkit-scrollbar-thumb,
.table-calendar tbody td .box-event:hover ::-webkit-scrollbar-track {
  opacity: 1;
}


.table-calendar tbody td .text-event{
    font-size: 10px;
    color: #46505B;
    font-weight: 500;
    background-color: #f2e2e4;
    padding: 2px 8px;
    margin-bottom: 5px;
    border-radius: 15px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 567px) {
    .table-calendar tbody td .text-event {
        font-size: 8px;
        padding: 1px 2px;
    }
}    
.table-calendar tbody td.today .day{
    color: #0c6cea;
}
