.btn.rounded-5 {
            background-color: white;
            color: black;
            border: 1px solid #DDDDDD;
            transition: all 0.3s ease;
        }

        .btn.rounded-5:hover {
            background-color: black;
            color: white;
            border-color: white;
        }

        /* Tambahan untuk menghilangkan background table */
        .table-transparent th,
        .table-transparent td {
            background-color: rgba(248, 248, 249, 0) !important;
        }
