.body-content {
    min-height: 70%;
}

#breadcrumbDocument {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

.breadcrumb-root {
    cursor: pointer;
}

.breadcrumb-folder,
.breadcrumb-folder:hover {
    font-size: 20px;
    font-weight: 300;
    color: #333;
    cursor: pointer;
    transition: 0.2s;
}

.breadcrumb-arrow {
    font-size: 24px;
    color: #333;
    user-select: none;
}

.search-input-container {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
}

.search-input-container .search-icon {
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: #a9adb7;
    pointer-events: none;
}

.search-input-container .custom-form-filter {
    width: 100%;
    padding-left: 40px;
    background: #ecedf5;
    border: none;
    height: 40px;
}

.search-input-container .custom-form-filter:focus {
    outline: none;
    box-shadow: none;
    border-color: none;
}

.btn-add-document,
.btn-add-document:hover {
    background: none;
    border-radius: 5px;
    color: #333;
    height: 40px;
    border: none;
}

.btn-menu-folder,
.btn-menu-folder:hover {
    color: #333;
    border: none;
}

.edit-folder .material-symbols-outlined,
.delete-folder .material-symbols-outlined {
    font-size: 18px;
    vertical-align: middle;
}

.view-switcher {
    position: relative;
    display: flex;
    width: 120px;
    border-radius: 5px;
    background: #f1f5f9;
}

.switch-btn {
    position: relative;
    z-index: 2;
    flex: 1;
    border: none;
    background: none;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #333;
}

.switch-btn span {
    font-size: 18px;
}

.switch-btn.active {
    color: #444;
}

.switch-indicator {
    position: absolute;
    width: 50%;
    height: 38px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch-indicator.grid {
    transform: translateX(100%);
}

.document-table {
    min-width: 100%;
    height: auto;
    border-collapse: collapse;
    table-layout: auto;
}

.document-table th {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    border: 1px solid #d9d9d9;
    white-space: nowrap;
    border-width: 1px 0px;
    padding: 10px;
    cursor: pointer;
}

.document-table th .material-symbols-outlined {
    font-size: 18px;
    vertical-align: middle;
}

.document-table td {
    font-size: 12px;
    font-weight: normal;
    color: #333;
    border: 1px solid #d9d9d9;
    border-width: 1px 0px;
    padding: 10px;
}

.grid-view {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.grid-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-title {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
}

.empty-folder {
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #8d8d8d;
}

.folder-wrapper {
    position: relative;
    width: 100%;
    cursor: pointer;

}

.folder-shadow {
    position: absolute;
    top: 7px;
    left: 7px;
    right: -7px;
    bottom: 0px;
    background: #e8952a;
    border-radius: 0 12px 12px 12px;
    z-index: 0;
}

.folder-shadow-tab {
    position: absolute;
    top: -12px;
    left: 7px;
    width: 70px;
    height: 20px;
    background: #e8952a;
    border-radius: 8px 8px 0 0;
    z-index: 0;
}

.folder-tab {
    position: relative;
    z-index: 1;
    width: 70px;
    height: 20px;
    background: #f5a623;
    border-radius: 8px 8px 0 0;
}

.folder-body {
    position: relative;
    z-index: 1;
    background: #f5a623;
    border-radius: 0 12px 12px 12px;
    padding: 10px;
}

.folder-name {
    font-size: 10px;
    font-weight: 500;
    color: #7a4800;
    margin: 0 0 3px 0;
}

.file-card {
    background: #e9eef4;
    border-radius: 14px;
    padding: 12px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: 0.2s;
    max-width: 300px;
}

.file-card-header {
    margin-bottom: 10px;
}

.file-type-badge {
    font-size: 11px;
    font-weight: 600;
    color: #666;
}

.file-preview {
    height: 150px;
    background: #f5f5f5;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.file-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-icon {
    font-size: 70px;
    color: #ef4438;
}

.file-icon .material-symbols-outlined {
    font-size: 70px;
}

.file-info {
    margin-top: 12px;
}

.file-title {
    font-size: 14px;
    font-weight: 600;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-subtitle {
    font-size: 12px;
    color: #888;
}

.folder-role {
    font-size: 8px;
    color: #a05c00;
    margin: 0 0 3px 0;
}

.folder-divider {
    border: none;
    border-top: 1.5px solid rgba(255, 255, 255, 0.45);
    margin: 0 0 12px 0;
}

.folder-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.folder-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.75);
}

.folder-items {
    font-size: 8px;
    color: #a05c00;
}

.folder-row {
    cursor: pointer;
}

.btn-filter-document,
.btn-filter-document:hover,
.btn-filter-document:active {
    background: #e9eef4;
    border-radius: 5px;
    color: #333;
    height: 40px;
    font-size: 12px;
    border: none;
}

.no-caret::after {
    display: none;
}

.dropdown-menu {
    background: #e9eef4;
    border: none;
}

.dropdown-item,
.filter-item {
    font-size: 12px;
    color: #333;
    cursor: pointer;
}

.dropdown-item.add-doc:hover {
    background: #444;
    color: #e9eef4;
    transition: 0.2s;
}

.label-custom {
    font-weight: 400;
    font-size: 14px;
}

.modal-content-custom {
    border-radius: 16px;
    padding: 12px 12px;
    background: rgb(240, 241, 248);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border: none;
}

.modal-title-custom {
    font-weight: 300;
    font-size: 28px;
    color: rgb(103, 111, 122);
}

.modal-body-custom {
    max-height: calc(80vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
}

.modal-footer-custom {
    width: 100%;
    border: none;
    justify-content: center;
    margin-top: 3rem;
    padding: 5px;
}

.modal-footer-custom button {
    height: 50px;
    width: 48%;
    border-radius: 5px;
    font-size: 14px;
}

.modal-footer-custom .submit-employee-btn {
    background: #444444;
    color: #e3e4ee;
}

.modal-footer-custom .btn-light {
    background: #e3e4ee;
    color: #596069;
    border: none;
}

.edit-file .material-symbols-outlined,
.delete-file .material-symbols-outlined,
.detail-file .material-symbols-outlined,
.download-file .material-symbols-outlined {
    font-size: 18px;
    vertical-align: middle;
}

.dropdown-menu.filter-dropdown::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #9ca3af4c;
}

.dropdown-menu.filter-dropdown::-webkit-scrollbar-thumb {
    background-color: #9ca3af7e;
    border-radius: 4px;
}
