.bg-default-1{
    background-color: rgb(240, 241, 248);
}

.card-content{
    background-color: #F0F1F8;
    border-radius: 20px;
    padding: 0px;
}

.title-content{
    margin-bottom: 30px;
}

.btn-default{
    border: 0px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #E9EEF4;
    color: #3C404B;
    cursor: pointer;
}

.btn-default-modal {
    background-color: #e3e4ee;
    color: #313238;
    font-weight: 300;
}

.btn-default-modal:hover,
.btn-default-modal:active,
.btn-default-modal:focus{
    background-color: #dcdde8 !important;
    color: #1c1d21;
}

.input-search-query,
.input-search-query-request{
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #f7f8fe;
    color: #2A3542;
    display: inline-block;
    transition: width .3s;
    outline: none;
    border: none;
    padding: 5px 10px 5px 34px !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3e%3cpath fill='%238C909A' d='M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 16px;
}




.btn-default:hover,
.btn-default:active{
    background-color: #f0f4f8 !important;
    color: #2f323b !important;
}

.btn-default .text-button{
    font-size: 14px;
    color: #3C404B;
}

.btn-default .icon{
    font-size: 24px;
    margin-right: 10px;
    color: #3C404B;
}

.btn-default-dropdown{
    border: 0px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #F5F6FC;
    color: #3C404B;
    cursor: pointer;
}


.btn-default-dropdown:hover,
.btn-default-dropdown:active,
.btn-default-dropdown.show{
    background-color: #f9fcff !important;
    color: #2f323b !important;
}

.text-title-content{
    font-size: 32px;
    font-weight: 300;
    color: #2A3542;
    padding: 0px;
    margin:0px;
}

.leave-container.fullscreen .col-leave{
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.leave-container.fullscreen .table-container {
    max-height: calc(100vh - 170px);
    height: calc(100vh - 170px);

}
.leave-container.fullscreen-request .col-leave-request{
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.leave-container.fullscreen-request .box-data {
    max-height: calc(100vh - 170px);
    height: calc(100vh - 170px);

}

.white-space-nowrap{
    white-space: nowrap;
}


.modal .modal-content{
    border-radius: 20px;
    background-color: #F0F1F8;
    border:0px;
}


.header-leave{
    padding: 4px 8px;
}

.dropdown-year .btn-dropdown-year{
    border: 0px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #e9eef400;
    color: #3C404B;
    cursor: pointer;
}

.dropdown-year .dropdown-menu{
    max-height: calc(100vh - 280px);
    overflow: auto;
}

.dropdown-year .dropdown-menu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #9ca3af4c;
}

.dropdown-year .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #9ca3af7e;
    border-radius: 4px;
}
 

.dropdown-year .dropdown-toggle::after {
    margin-left: 10px;
    opacity: 0.9;
}

.dropdown-year .dropdown-item:active,
.dropdown-year .dropdown-item:hover{
    background-color: #E9EEF4;
    color: #313642;
    cursor: pointer;
}

.text-year{
    font-size: 16px;
    color: #2A3542;
    font-weight: 400;
    margin-left: 10px;
}

.data-fullscreen,
.data-fullscreen-request{
    font-size: 20px;
    color: #474c59;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 10px;
}

.data-fullscreen:hover,
.data-fullscreen:active,
.data-fullscreen-request:hover,
.data-fullscreen-request:active,
.dropdown-year .btn-dropdown-year:hover,
.dropdown-year .btn-dropdown-year:active{
    color: #313642 !important;
    background-color: #E9EEF4 !important;
}

.box-data{
    padding: 0px 15px 15px 15px;
}

.table-container {
    max-height: calc(100vh - 270px);
    overflow: auto;
    position: relative;
    margin: auto;
}

/* Gaya untuk scrollbar yang transparan dan muncul saat hover */
.table-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #9ca3af19;
}

.table-container::-webkit-scrollbar-thumb {
    background-color:  #9ca3af75;
    border-radius: 4px;
}

.table-attendance {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.table-attendance td {
    padding: 0;
    text-align: left;
    border: 1px solid #DAE3ED;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    color: #42484F;
    border-collapse: collapse;
    z-index:0;
}

.table-attendance thead th {
    padding: 8px 16px;
    border: 1px solid #DAE3ED;
    font-weight: 500;
    font-size: 12px;
    vertical-align: top;
    text-align: center;
    color: #42484F;
    background-color: #F0F1F8;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-attendance th:first-child{
    font-weight: 600;
    vertical-align: middle;
}
.table-attendance tbody tr:nth-child(odd) {
    background-color:  #F0F1F8;
}
.table-attendance tbody tr:nth-child(even) {
    background-color: #F0F1F8;
}
.table-attendance tbody td {
    background-color: inherit;
    position: relative;
}
.table-attendance th:first-child, 
.table-attendance td:first-child {
    position: sticky;
    left: 0;
}

.table-attendance thead th:first-child {
    z-index: 2;
}

.table-attendance td:first-child{
    z-index:1;
    padding: 0;
    width: 210px;
}

.table-attendance .employee-photo{
    width: 28px;
    height: 28px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #42484F;
    display:inline-block;
}
.table-attendance .employee-name{
    font-size: 12px;
    color: #343A41;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}



.table-attendance .col-photo{
    height: 28px;
    width: 28px;
    margin-right: 10px;
}
.table-attendance .col-name{
    overflow-x: auto;
}

.table-attendance .col-day.is-late .time-in{
    color:#be3131 !important;
}

.table-attendance .box-employee {
    padding: 8px 8px;
    width: 200px;
}
.table-attendance .box-attendance{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    transition: all 0.2s;
    text-align: center;
    vertical-align: middle;
}
.table-attendance .box-attendance:hover{
    cursor: pointer;
    background-color: #fcfcff;
}

.table-attendance .box-time{
    font-size: 10px;
}



.modal .photo-employee{
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 70px;
}


.col-leave-request .box-data{
    max-height: calc(100vh - 350px);
    min-height: 30vh;
    overflow: auto;
}

.item-time-off{
    border-radius: 7px;
    border: 1px solid #D4DBE2;
    padding: 8px 12px 5px 12px;
}

.item-header,
.item-body{
    padding: 0px 0px;
}

.item-title{
    font-size: 14px;
    font-weight: 500;
    color: #31323a;
}

.item-day{
    font-size: 14px;
    font-weight: 600;
    color: #31323a;
    white-space: nowrap; 
}

.item-date,
.item-status{
    font-size: 10px;
    font-weight: 300;
    color: #727275;
}

.item-description {
    font-size: 12px;
    font-weight: 500;
    color: #53545f;
}

.item-action{
    white-space: nowrap;
} 

.item-action .material-symbols-outlined{                                
    font-size: 16px;
    color: #42484F;
    font-variation-settings:
    'FILL' 1,
    'wght' 400
}

.item-action .btn-action {
    text-decoration: none;
    width: 24px;
    height: 24px;
    padding: 2px 0px 0px 4px;
    border-radius: 50%;
    display:inline-block;
    margin-left: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.item-action .btn-action:hover{
    background-color: #dbe0e6;
}
