.detail-project-container {
    max-height: calc(100vh - 175px);
    overflow-y: auto;
    overflow-x: hidden;
}

.detail-project-container::-webkit-scrollbar {
    width: 4px;
}

.detail-project-container::-webkit-scrollbar-track {
    background: transparent;
}

.detail-project-container::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 4px;
}

.project-detail-image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.project-detail-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
}

.detail-icon {
    background: transparent;
    border: none;
    padding: 0;
}

.detail-icon span {
    font-size: 18px;
}

.icon-fill {
    font-variation-settings: "FILL" 1;
    color: #42484f;
}

.task-separator {
    background: #dedfe7;
}

.detail-list p {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 5px;
}

.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.detail-role p {
    font-size: 10px;
}

.description-container {
    max-height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    word-break: break-word;
    white-space: normal;
}

.description-container::-webkit-scrollbar {
    width: 4px;
}

.description-container::-webkit-scrollbar-track {
    background: transparent;
}

.description-container::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 4px;
}

.description-detail {
    margin-top: 10px;
    color: #4c5060;
    font-size: 12px;
    font-weight: 400;
    white-space: normal;
    word-break: break-word;
}

.detail-project-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    max-height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
}

.detail-project-bottom::-webkit-scrollbar {
    width: 4px;
}

.detail-project-bottom::-webkit-scrollbar-track {
    background: transparent;
}

.detail-project-bottom::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 4px;
}

.detail-role {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
