
.project-detail-image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.project-detail-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
}

.description-detail {
    font-size: 12px;
    font-weight: 400;
}

.detail-icon {
    background: transparent;
    border: none;
    padding: 0;
}

.detail-icon span {
    font-size: 18px;
}

.icon-fill {
  font-variation-settings: 'FILL' 1;
  color: #42484F;
}

.task-separator {
    background: #DEDFE7;
}

.detail-list p{
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 5px;
}

.user-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.detail-role p{
    font-size: 10px;
}
