.body-content {
    background-color: rgb(240, 241, 248);
}

.body-content .input-soft {
    background-color: rgb(240, 241, 248);
}

.title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Search Input Styles */
.search-input-container {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
}

.search-input-container .search-icon {
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: #a9adb7;
    pointer-events: none;
}

.search-input-container .custom-form-filter {
    width: 100%;
    padding-left: 40px;
    height: 38px;
    background: rgb(240, 241, 248);
}

.modal-title-custom {
    font-weight: 300;
    font-size: 28px;
    position: absolute;
    top: 24px;
    left: 24px;
    color: rgb(103, 111, 122);
}

.modal-header-custom {
    border: 0;
}

.label-custom {
    font-size: 14px;
    font-weight: 400;
}

.min-width-200 {
    min-width: 200px;
}

.height-38 {
    height: 38px;
}

.input-soft {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    font-size: 14px;
    padding: 0.375rem 0.75rem;
}

.input-soft:focus {
    background-color: #fff;
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.border-dddd {
    border: 1px solid #ddd;
}

.modal-footer-custom {
    border: 0;
    justify-content: center;
}

.ml-neg-5 {
    margin-left: -5px;
}

/* Table Styles */
.month-year-title {
    font-size: 18px;
}

.table-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}

.shift-table {
    min-width: 200%;
    height: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.shift-table th:first-child,
.shift-table td:first-child {
    width: 150px !important;
    min-width: 150px !important;
    white-space: normal !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    vertical-align: middle;
}

.shift-table th,
.shift-table td {
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    padding: 6px;
    background-color: rgb(240, 241, 248);
}

.shift-table th.sunday,
.shift-table td.sunday {
    color: #d34547;
    font-weight: 600;
}

.sticky-col {
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 10;
}

.overlay-edit {
    width: 100%;
    height: 100%;
    top: 15%;
    left: 15%;
}

.config-group-icon button span {
    font-variation-settings: "FILL" 1;
    font-size: 16px;
}

.btn-pagination-table {
    background: transparent;
    font-size: 24px;
}

.year-dropdown-wrapper {
    position: relative;
    width: 25px;
    overflow: hidden;
}

#monthSelect {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
}

#monthSelect:hover {
    border-color: #000;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

#monthSelect option {
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-shadow: none;
}

#monthSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background: transparent;
    cursor: pointer;

    color: transparent;
    text-shadow: 0 0 0 #0000;
}

/* caret custom */
.month-dropdown-wrapper::after {
    content: "▾";
    font-size: 20px;
    color: #444;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
}

.overlay-edit-employee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.85);
    z-index: 2;
}

.employee-wrapper:hover .overlay-edit-employee {
    display: flex;
}

.btn-edit-shift,
.btn-edit-employee {
    background: #fcfcff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0px;
}

.btn-edit-shift span,
.btn-edit-employee span {
    color: #42484f;
    font-size: 18px;
    font-variation-settings: "FILL" 1;
}

.btn-add-shift {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0px;
}

.shift-config-title {
    font-size: 20px;
    font-weight: normal;
    font-weight: 400;
}

.add-shift-button {
    padding: 10px;
    border-radius: 10px;
    width: 100px;
}

.filter-shift-btn,
.config-shift-btn {
    background: #e9eef4;
    border: none;
}

.filter-shift-btn:hover,
.config-shift-btn:hover {
    background: #e9eef4;
    border: none;
}

.modal-footer-custom {
    width: 100%;
}

.modal-footer-custom button {
    height: 50px;
    border-radius: 10px;
    width: 45%;
    font-size: 14px;
}

.modal-footer-custom .btn-light {
    background: #e3e4ee;
    color: #596069;
}

.overlay-edit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    display: none;
}

.overlay-edit span {
    font-size: 20px;
}

.custom-select-shift {
    border: none;
}

.dropdown-btn {
    background: #f9faff;
}

.dropdown .btn {
    box-shadow: none !important;
}

.barrier-option {
    background: #d4dbe24f;
    margin: 0 auto;
    width: 90%;
}

.dropdown-menu {
    max-height: 200px !important;
    overflow-y: auto !important;
}

.dropdown-menu::-webkit-scrollbar {
    width: 6px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.dropdown-menu::-webkit-scrollbar-track {
    background: transparent;
}

.dropdown-menu {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.dropdown-item {
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 15px;
}

.dropdown-item span {
    color: #636a73;
    font-size: 14px;
}

.dropdown-item:hover {
    background: #e9ecef;
}

.arrow {
    font-size: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .icon-text {
        display: none;
    }

    .search-input-container {
        width: 100px;
    }

    .filter-shift-btn,
    .config-shift-btn {
        margin: 0;
        min-width: 50px;
    }

    .d-flex.gap-1 {
        margin-top: 1rem;
        flex-wrap: wrap;
    }

    .min-width-200 {
        min-width: 100%;
    }

    .shift-table {
        min-width: 700%;
        min-height: 300px;
    }

    .shift-table th:first-child,
    .shift-table td:first-child {
        min-width: 100px !important;
    }
}

/* Modal Styles */
.modal-content {
    border-radius: 0.5rem;
}

.modal-header {
    border: 0;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

.form-select {
    font-size: 14px;
}

.form-label {
    font-size: 14px;
    font-weight: 400;
}

.modal-content-custom {
    border-radius: 16px;
    padding: 24px;
    background: #f0f1f8;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border: none;
}

.shift-config-table {
    background-color: transparent;
    border: 1px solid #d4dbe2;
}

.shift-config-table th,
.shift-config-table td {
    background-color: transparent;
    border: 1px solid #d4dbe2;
}

.modal-body-custom {
    padding: 0;
}

.modal-footer-custom .btn-close-custom {
    width: 100%;
}

/* Gap utilities */
.d-flex.gap-1 {
    gap: 0.25rem;
}

.d-flex.gap-2 {
    gap: 0.5rem;
}

.d-flex.gap-3 {
    gap: 1rem;
}

.text-shift-display {
    color: #737681;
    font-size: 14px;
}

.shift-text {
    font-size: 10px;
    color: #474e56;
}
